@use "colors" as color;

header {
  display: flex;
  justify-content: space-between;
  padding: 21px 16px 0;
}

.context-button,
.context-menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;
  user-select: none;
  padding: 0;
}

.context-menu {
  display: inline-flex;
  flex-direction: column;
  background-color: color.$primary-1;
  padding: 16px;
  border-radius: 8px;
}

.context-menu-item {
  font-size: 16px;
  color: color.$medium-light;
  text-align: left;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
