:host {
  position: relative;
  height: 100dvh;
}

main {
  padding: 40px;
  text-align: center;
  .logo {
    margin-bottom: 32px;
  }
}

nav {
  max-width: 313px;
  margin: 0 auto;
  > * {
    display: block;
    margin-bottom: 32px;
  }
}

.girl-with-skull {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.7;
  mix-blend-mode: Luminosity;
  height: auto;
  width: auto;
  max-height: calc(100dvh - 350px);
  max-width: 100%;
}
