.container {
  position: relative;
  width: 276px;
  height: 266px;
}

.star-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.star-container {
  position: absolute;
  .star-1,
  .star-2 {
    position: absolute;
  }
  .star-2 {
    top: 2px;
    left: 2px;
  }
  &-1 {
    top: 23px;
    left: 122px;
  }
  &-2 {
    top: 51px;
    left: 208px;
  }
  &-3 {
    top: 124px;
    left: 243px;
  }
  &-4 {
    top: 189px;
    left: 233px;
  }
  &-5 {
    top: 212px;
    left: 192px;
  }
  &-6 {
    top: 241px;
    left: 147px;
  }
  &-7 {
    top: 230px;
    left: 89px;
  }
  &-8 {
    top: 211px;
    left: 42px;
  }
  &-9 {
    top: 169px;
    left: 23px;
  }
  &-10 {
    top: 123px;
    left: 18px;
  }
  &-11 {
    top: 74px;
    left: 30px;
  }
  &-12 {
    top: 26px;
    left: 63px;
  }
  &-13 {
    top: 10px;
    left: 155px;
  }
  &-1,
  &-4,
  &-5,
  &-7,
  &-9,
  &-11,
  &-13 {
    .star-1 {
      opacity: 0;
      animation: fade-in 1800ms ease-out infinite;
    }
  }
  &-2,
  &-3,
  &-6,
  &-8,
  &-10,
  &-12 {
    .star-1 {
      opacity: 1;
      animation: fade-out 1800ms ease-out infinite;
    }
  }
}

@keyframes fade-in {
  /* fade in */
  0%   { opacity: 0; }
  16%   { opacity: 1; }
  /* stay visible */
  66%  { opacity: 1; }
  /* fade out */
  82%  { opacity: 0; }
  /* idle */
  100% { opacity: 0; }
}

@keyframes fade-out {
  /* fade in */
  0%   { opacity: 1; }
  16%   { opacity: 0; }
  /* stay visible */
  66%  { opacity: 0; }
  /* fade out */
  82%  { opacity: 1; }
  /* idle */
  100% { opacity: 1; }
}
