@use "colors.scss" as color;

:host {
  display: inline-block;
}

a,
button {
  position: relative;
  display: block;
  background: linear-gradient(180deg, #501794 0%, #430B85 100%);
  width: 100%;
  padding: 16.5px;
  border: none;
  border-radius: 8px;
  z-index: 0;
  text-decoration: none;
  color: color.$text-color-bright;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    padding: 2px; /* border thickness */
    background: linear-gradient(180deg, #966F31 0%, #7F5C24 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }
  &.secondary {
    background: transparent;
    padding: 0;
    color: color.$secondary;
    &:before {
      background: none;
    }
  }
}

[disabled] {
  opacity: .4;
  cursor: default;
}
