@use "colors.scss" as color;

:host {
  display: inline-block;
}

a,
button {
  position: relative;
  display: block;
  background: color.$primary-2;
  width: 100%;
  padding: 16.5px;
  border: 2px solid color.$secondary;
  border-radius: 16px;
  z-index: 0;
  text-decoration: none;
  color: color.$text-color-bright;
  cursor: pointer;
  &.secondary {
    background: transparent;
    padding: 0;
    color: color.$secondary;
    &:before {
      background: none;
    }
  }
}

[disabled] {
  opacity: .4;
  cursor: default;
}
