@use "variables" as var;

.token {
  position: relative;
  display: block;
  font-family: Dumbledor, 'sans-serif';
  width: var.$token-size;
  height: var.$token-size;
  border-radius: 50%;
  background: #FBEAD0 50% / cover no-repeat;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
