@use "colors" as color;

:host {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.ghost-vote-indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: color.$primary;
}

.ghost-vote-toggle {
  display: inline-block;
  background: color.$primary;
  border-radius: 20px;
  flex-grow: 1;
}

.toggle-button {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  padding: 8px 0;
  width: 50%;
  line-height: 18px;
  &.active {
    background: color.$primary-2;
    outline: 1px solid color.$secondary;
    outline-offset: -1px;
    border-radius: inherit;
  }
}
