@if (link() && !disabled()) {
  <a class="body" [class.with-image]="image()" [routerLink]="link()">
    <ng-container [ngTemplateOutlet]="content" />
  </a>
} @else {
  <button
    class="body"
    [class.with-image]="image()"
    [disabled]="disabled()"
    (click)="buttonClicked.emit()">
    <ng-container [ngTemplateOutlet]="content" />
  </button>
}

<ng-template #content>
  @if (image()) {
    <div class="image-container">
      <ng-content select="[appTransparentButtonImg]" />
    </div>
  }
  <span class="label">
    <ng-content />
  </span>
</ng-template>
