@use "colors.scss" as color;

:host {
  display: inline-block;
}

a,
button {
  display: block;
  background: transparent;
  backdrop-filter: brightness(150%);
  -webkit-backdrop-filter: brightness(150%);
  padding: 20px;
  width: 100%;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: color.$text-color;
  cursor: pointer;
}

[disabled] {
  opacity: .4;
  cursor: default;
}
