@use "colors.scss" as color;

:host {
  display: inline-block;
}

a,
button {
  display: flex;
  align-items: center;
  background: transparent;
  backdrop-filter: brightness(150%);
  -webkit-backdrop-filter: brightness(150%);
  padding: 13.5px 16px;
  width: 100%;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  text-align: left;
  color: color.$text-color;
  cursor: pointer;
  &.with-image {
    border-radius: 20px;
  }
}

[disabled] {
  opacity: .4;
  cursor: default;
}

.image-container {
  min-width: 58px;
  margin: -5.5px 10px -5.5px -8px;
}

.label {
  flex-grow: 1;
}
