<span class="character-type-count">
  <span class="body-bold count">{{
    charactersCounts()[characterTypes.TOWNSFOLK]
  }}</span>
  <img
    [ngSrc]="'./assets/common/townsfolk-icon.png'"
    width="48"
    height="48"
    alt="Townsfolk icon" />
</span>
<span class="character-type-count">
  <span class="body-bold count">{{
    charactersCounts()[characterTypes.OUTSIDER]
  }}</span>
  <img
    [ngSrc]="'./assets/common/outsider-icon.png'"
    width="48"
    height="48"
    alt="Outsider icon" />
</span>
<span class="character-type-count">
  <span class="body-bold count">{{
    charactersCounts()[characterTypes.MINION]
  }}</span>
  <img
    [ngSrc]="'./assets/common/minion-icon.png'"
    width="48"
    height="48"
    alt="Minion icon" />
</span>
<span class="character-type-count">
  <span class="body-bold count">{{
    charactersCounts()[characterTypes.DEMON]
  }}</span>
  <img
    [ngSrc]="'./assets/common/demon-icon.png'"
    width="48"
    height="48"
    alt="Demon icon" />
</span>
