<span class="character-type-count">
  <span class="body-bold count">{{
    charactersCounts()[characterTypes.TOWNSFOLK]
  }}</span>
  <img
    [ngSrc]="'./assets/icons/game/townsfolk-icon.svg'"
    width="24"
    height="24"
    alt="Townsfolk icon" />
</span>
<span class="character-type-count">
  <span class="body-bold count">{{
    charactersCounts()[characterTypes.OUTSIDER]
  }}</span>
  <img
    [ngSrc]="'./assets/icons/game/outsider-icon.svg'"
    width="24"
    height="24"
    alt="Outsider icon" />
</span>
<span class="character-type-count">
  <span class="body-bold count">{{
    charactersCounts()[characterTypes.MINION]
  }}</span>
  <img
    [ngSrc]="'./assets/icons/game/minion-icon.svg'"
    width="24"
    height="24"
    alt="Minion icon" />
</span>
<span class="character-type-count">
  <span class="body-bold count">{{
    charactersCounts()[characterTypes.DEMON]
  }}</span>
  <img
    [ngSrc]="'./assets/icons/game/demon-icon.svg'"
    width="24"
    height="24"
    alt="Demon icon" />
</span>
@if (charactersCounts()[characterTypes.TRAVELLER]; as travellerCount) {
  <span class="character-type-count">
    <span class="body-bold count">{{ travellerCount }}</span>
    <img
      [ngSrc]="'./assets/icons/game/traveller-icon.svg'"
      width="24"
      height="24"
      alt="Traveller icon" />
  </span>
}
