@use "colors.scss" as color;

:host {
  display: inline-block;
}

a,
button {
  background: color.$primary-2;
  padding: 8px 0;
  width: 100%;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  color: color.$medium-light;
  cursor: pointer;
}

[disabled] {
  opacity: .4;
  cursor: default;
}

.icon,
.label {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  margin-right: 4px;
}
