<main>
  <div class="scripts-container">
    <h1>Choose the script</h1>
    <nav>
      <app-transparent-button (click)="onScriptChoose(scripts.TROUBLE_BREWING)">
        <img
          [ngSrc]="'./assets/common/trouble-brewing.png'"
          width="100"
          height="100"
          alt="Trouble Brewing logo" />
      </app-transparent-button>
      <app-transparent-button (click)="onScriptChoose(scripts.BAD_MOON_RISING)">
        <img
          [ngSrc]="'./assets/common/bad-moon-rising.png'"
          width="100"
          height="100"
          alt="Bad Moon Rising logo" />
      </app-transparent-button>
      <app-transparent-button
        (click)="onScriptChoose(scripts.SECTS_AND_VIOLETS)">
        <img
          [ngSrc]="'./assets/common/sects-and-violets.png'"
          width="100"
          height="100"
          alt="Sects and Violets logo" />
      </app-transparent-button>
      <app-transparent-button (buttonClicked)="fileInput.click()"
        >Upload json</app-transparent-button
      >
    </nav>
  </div>
</main>

<input
  type="file"
  accept="*.json"
  hidden
  (change)="onCustomScriptLoad($event)"
  #fileInput />
