main {
  text-align: center;
}

nav {
  a, p {
    display: block;
    margin-bottom: 23px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    &.not-available {
      opacity: 0.4;
    }
  }
}
