<main>
  <app-game-logo />

  <nav>
    <a
      routerLink="/players-count-selection"
      (click)="onScriptChoose(scripts.TROUBLE_BREWING)">
      <img
        [ngSrc]="'./assets/common/trouble-brewing.png'"
        width="100"
        height="100"
        alt="Trouble Brewing logo" />
    </a>
    <a
      routerLink="/players-count-selection"
      (click)="onScriptChoose(scripts.SECTS_AND_VIOLETS)">
      <img
        [ngSrc]="'./assets/common/sects-and-violets.png'"
        width="100"
        height="100"
        alt="Sects and Violets logo" />
    </a>
    <a
      routerLink="/players-count-selection"
      (click)="onScriptChoose(scripts.BAD_MOON_RISING)">
      <img
        [ngSrc]="'./assets/common/bad-moon-rising.png'"
        width="100"
        height="100"
        alt="Bad Moon Rising logo" />
    </a>
    <p (click)="fileInput.click()">Upload json</p>
  </nav>
</main>

<input
  type="file"
  accept="*.json"
  hidden
  (change)="onCustomScriptLoad($event)"
  #fileInput />
