main {
  position: relative;
  width: 100%;
  max-width: 313px;
  margin: 0 auto;
  padding: 140px 0 32px;
  text-align: center;
  h1 {
    margin: 6px 0 32px;
  }
}

nav > * {
  display: block;
  &.upload-json-button {
    margin-bottom: 32px;
  }
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.upload-json-text-container {
  padding: 6.5px 0;
  text-align: center;
  & > * {
    display: inline-block;
    vertical-align: middle;
  }
  img {
    margin-right: 10px;
  }
}

.script-logo {
  border-radius: 10px;
}
