<main>
  <app-game-logo />

  <nav>
    <a
      routerLink="players-count-selection"
      (click)="onScriptChoose(scripts.TROUBLE_BREWING)"
      >Trouble Brewing</a
    >
    <a
      routerLink="players-count-selection"
      (click)="onScriptChoose(scripts.SECTS_AND_VIOLETS)"
      >Sects and Violets</a
    >
    <a
      routerLink="players-count-selection"
      (click)="onScriptChoose(scripts.BAD_MOON_RISING)"
      >Bad Moon Rising</a
    >
    <p (click)="fileInput.click()">Upload json</p>
    <p class="not-available">Create Custom: browse</p>
  </nav>
</main>

<input
  type="file"
  accept="*.json"
  hidden
  (change)="onCustomScriptLoad($event)"
  #fileInput />
