@if (player().isCurrentViewer) {
  <div class="seat current-viewer" [class.with-shroud]="player().isDead">
    <img
      [ngSrc]="'./assets/common/big-chair.svg'"
      width="40"
      height="40"
      alt="Big chair icon" />
  </div>
} @else if (player().characters.length) {
  <app-character-token
    class="seat"
    [characters]="player().characters"
    [withShroud]="player().isDead!"></app-character-token>
} @else {
  <div class="seat empty" [class.with-shroud]="player().isDead"></div>
}

@if (player().name) {
  <span class="name">{{ player().name }}</span>
}
