@use "colors" as color;

:host {
  border-radius: 24px;
}

.container {
  & > * {
    display: block;
    &:first-child {
      margin-top: 24px;
    }
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.player-name-input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid color.$primary-2;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  line-height: 2;
  &:focus-visible {
    outline: none;
  }
}
