<app-game-modal>
  <main class="container">
    <input
      class="subtitle player-name-input"
      placeholder="Name"
      [(ngModel)]="playerName"
      (keyup.enter)="input.blur()"
      #input />
    @if (player().isDead) {
      <app-ghost-vote-toggle
        [isGhostVoteUsed]="player().isDeadVoteUsed ?? false"
        (toggleGhostVote)="toggleGhostVote($event)"></app-ghost-vote-toggle>
    }
    <app-icon-button
      class="button"
      iconSrc="./assets/icons/game/bluffs-icon.svg"
      iconAlt="Character icon"
      (buttonClicked)="editCharacter()">
      Character
    </app-icon-button>
    <app-icon-button
      class="button"
      iconSrc="./assets/icons/game/add-reminder.svg"
      iconAlt="Add reminder icon"
      (buttonClicked)="addReminder()"
      >Add reminder</app-icon-button
    >
    <app-icon-button
      class="button"
      [iconSrc]="
        player().isDead
          ? './assets/icons/game/wand.svg'
          : './assets/icons/game/candle-outline.svg'
      "
      [iconAlt]="player().isDead ? 'Wand icon' : 'Candle icon'"
      (buttonClicked)="togglePlayerShroud()">
      {{ player().isDead ? 'Alive' : 'Died' }}
    </app-icon-button>
  </main>
</app-game-modal>
