<app-game-setup-header backLink="/">
  <ng-container header>How many players?</ng-container>
</app-game-setup-header>
<main>
  <app-characters-count-per-type-hint
    [players]="players()"></app-characters-count-per-type-hint>
  <app-grimoire [setupMode]="true" [players]="players()" [reminders]="[]">
    <app-counter
      in-grimoire-center
      class="counter"
      [min]="minCount"
      [max]="maxCount"
      [ngModel]="players().length"
      (ngModelChange)="onPlayersCountChange($event)"></app-counter>
  </app-grimoire>
</main>
<app-action-bar>
  <app-button (buttonClicked)="acceptPlayersCount()">Confirm</app-button>
</app-action-bar>
