<app-game-setup-header>
  <span header>How many players?</span>
</app-game-setup-header>
<main>
  <div class="grimoire" [style]="'--total: ' + playersCount">
    <app-counter
      class="counter"
      [ngModel]="playersCount"
      (ngModelChange)="onPlayersCountChange($event)"></app-counter>
    @for (player of players; track player; let i = $index) {
      <div class="player-token" [style]="'--index: ' + i"></div>
    }
  </div>
</main>
<app-action-bar>
  <button mat-raised-button color="primary" (click)="acceptPlayersCount()">
    Proceed
  </button>
</app-action-bar>
