:host {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

main {
  flex-grow: 1;
}

app-characters-count-per-type-hint {
  display: block;
  margin-top: 16px;
}

app-action-bar {
  app-icon-button:not(:last-child) {
    margin-right: 19px;
  }
}
