@use "colors" as color;

:host {
  border-radius: 24px;
}

.container {
  & > * {
    display: block;
    &:first-child {
      margin-top: 24px;
    }
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .character-token-container {
    margin: 0 auto 24px;
    text-align: center;
  }
}

.action-title {
  color: color.$medium-light;
  text-align: center;
}
