@use "colors" as color;

:host {
  position: sticky;
  bottom: 0;
  display: block;
  padding: 0 16px;
  text-align: center;
  background: color.$primary;
  .container {
    border-top: 1px solid color.$primary-2;
    padding: 8px 0 16px;
  }
}
