@use "colors.scss" as color;

:host {
  display: inline-block;
}

a,
button {
  display: block;
  background: transparent;
  width: 100%;
  padding: 0;
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: color.$secondary;
}

button:not([disabled]) {
  cursor: pointer;
}

[disabled] {
  opacity: .4;
}
