@use "colors.scss" as color;

header {
  position: relative;
}

.go-back-button {
  position: absolute;
  left: 0;
  top: 0;
  padding: 16px;
  color: color.$text-color;
}

h1,
h2 {
  text-align: center;
}

h1 {
  display: inline-block;
  margin: 16px 0 0;
}

h2 {
  margin: 8px 0 16px;
  color: rgba(255, 255, 255, 0.55);
}
