.actions-row {
  display: grid;
  height: 56px;
  align-items: center;
  margin-left: 4px;
}

.go-back-button {
  padding: 16px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 8px;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
}
