<header>
  <a
    class="close-button"
    tabindex="0"
    (click)="dialog.close()"
    (keydown.space)="dialog.close()">
    <img
      [ngSrc]="'./assets/common/close.svg'"
      width="24"
      height="24"
      alt="Close modal window" />
  </a>
</header>

<main>
  <div class="container">
    <button
      class="my-seat-button"
      [class.active]="isMySeat"
      (click)="toggleMySeat()">
      <span class="icon">
        @if (isMySeat) {
          <img
            [ngSrc]="'./assets/common/big-chair-bright.svg'"
            width="24"
            height="24"
            alt="Chair icon" />
        } @else {
          <img
            [ngSrc]="'./assets/common/big-chair.svg'"
            width="24"
            height="24"
            alt="Chair icon" />
        }
      </span>
      <span class="caption label">My seat</span>
    </button>

    <div class="selection-hint">You can select up to 3 characters</div>

    @for (
      characters of charactersGroupedByType();
      track characters;
      let last = $last
    ) {
      <section class="character-selection">
        @for (character of characters; track character.id) {
          <app-character-token
            [selectable]="true"
            [characters]="[character]"
            [active]="selectedCharacters()[character.id] !== undefined"
            (click)="selectCharacter(character)"></app-character-token>
        }
      </section>
      @if (!last) {
        <div class="divider"></div>
      }
    }
  </div>
</main>

<app-action-bar>
  <app-button (buttonClicked)="savePlayerInfo()">Confirm</app-button>
</app-action-bar>
