@use "colors" as color;
@use "variables" as variable;

:host {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background: url("../../../../assets/images/other/background.jpg") repeat center center fixed;
}

header {
  position: relative;
}

.close-button {
  position: absolute;
  left: 5px;
  top: 1px;
  padding: 16px;
  cursor: pointer;
}

main {
  padding-top: 115px;
  flex-grow: 1;
  overflow-y: auto;
  .container {
    margin: 0 auto;
    max-width: 313px;
  }
}

.my-seat-button,
.title {
  margin: 0 0 24px;
}

.my-seat-button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background: color.$primary-1;
  cursor: pointer;
  .icon,
  .label {
    display: inline-block;
    vertical-align: middle;
  }
  .label {
    margin-left: 4px;
    color: rgba(255, 255, 255, 1);
  }
  &.active {
    background: color.$primary-2;
    outline: 1px solid color.$secondary;
    .label {
      color: color.$text-color-bright;
    }
  }
}

.selection-hint {
  color: color.$medium-light;
}

.character-selection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 16px 0;
}

.divider {
  border-top: 1px solid color.$primary-2;
  padding: 8px 0;
}

app-action-bar {
  app-button {
    display: block;
    margin-top: 8px;
  }
}
