@use "colors" as color;

:host {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background: url("../../../../assets/images/other/background.jpg") repeat center center fixed;
}

.go-back-button {
  position: absolute;
  left: 0;
  top: 0;
  padding: 16px;
  color: color.$text-color;
}

.script-name {
  padding-top: 8px;
}

.image-container {
  img {
    margin: 0 auto 16px;
    border: 2px solid color.$script-logo-border-color;
    border-radius: 20px;
  }
}

main {
  padding: 16px 0;
  flex-grow: 1;
  overflow-y: auto;
}

.characters-list {
  display: block;
  max-width: 329px;
  margin: 0 auto;
}

app-action-bar {
  app-button {
    display: block;
    margin-top: 8px;
  }
}
