:host ::ng-deep > *:not(router-outlet) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  background: url("../assets/images/other/background.jpg") repeat center center fixed;
}
