@use "colors" as color;

:host {
  display: flex;
  width: 100%;
  max-width: 329px;
  border: 2px solid rgba(187, 164, 133, 1);
  border-radius: 16px;
  padding: 8px 8px 8px 0;
  background: rgba(255, 245, 235, 0.9);
}

.info {
  color: color.$character-card-text-color;
}

.description {
  margin: 0;
}
