@if (xmasSpecialGrimoire) {
  <app-grimoire-star-center class="xmas-star-center"></app-grimoire-star-center>
} @else {
  <img
    class="red-circle"
    [class.setup-mode]="setupMode()"
    [ngSrc]="'./assets/common/grimoire-red-circle.png'"
    width="276"
    height="276"
    alt="The red ominous circle" />
}

<div class="grimoire-center">
  <ng-content select="[in-grimoire-center]"></ng-content>
</div>
@for (player of players(); track player; let i = $index) {
  <app-player-token
    class="player"
    [player]="player"
    [size]="tokenSize()"
    (click)="playerTokenClicked(i)"
    cdkDrag
    [cdkDragBoundary]="grimoireElement"
    [cdkDragFreeDragPosition]="player.positionInGrimoire"
    [cdkDragDisabled]="setupMode()"
    (cdkDragStarted)="isDragging = true"
    (cdkDragEnded)="draggingEnd($event, i, player)"></app-player-token>
}
