@use "variables" as var;

:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.player {
  position: absolute;
}

.grimoire-center,
.red-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.red-circle {
  opacity: 1;
  mix-blend-mode: hard-light;
  &.setup-mode {
    opacity: 0.5;
  }
}
