@use "variables" as var;

:host,
.players-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.player {
  position: absolute;
  top: calc(50% - calc(var.$seat-height / 2));
  left: calc(50% - calc(var.$seat-width / 2));
}

.grimoire-center,
.red-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.red-circle {
  opacity: 1;
  mix-blend-mode: hard-light;
  &.setup-mode {
    opacity: 0.5;
  }
}
