@if (xmasSpecialGrimoire) {
  <app-grimoire-star-center class="xmas-star-center"></app-grimoire-star-center>
} @else {
  <img
    class="red-circle"
    [class.setup-mode]="setupMode()"
    [ngSrc]="'./assets/images/other/grimoire-red-circle.png'"
    width="276"
    height="276"
    alt="The red ominous circle" />
}

<div class="grimoire-center">
  <ng-content select="[in-grimoire-center]"></ng-content>
</div>
@for (player of players(); track player; let i = $index) {
  <app-player-token
    class="token"
    [player]="player"
    [size]="playerTokenSize()"
    (click)="playerTokenClicked(i)"
    cdkDrag
    [cdkDragBoundary]="grimoireElement"
    [cdkDragFreeDragPosition]="player.positionInGrimoire"
    [cdkDragDisabled]="setupMode()"
    (cdkDragStarted)="isDragging = true"
    (cdkDragEnded)="
      playerTokenDraggingEnd($event, i, player)
    "></app-player-token>
}

@for (reminder of reminders(); track reminder; let i = $index) {
  <app-reminder-token
    class="token"
    [reminder]="reminder"
    [size]="reminderTokenSize()"
    (click)="reminderTokenClicked(i)"
    cdkDrag
    [cdkDragBoundary]="grimoireElement"
    [cdkDragFreeDragPosition]="reminder.positionInGrimoire"
    [cdkDragDisabled]="setupMode()"
    (cdkDragStarted)="isDragging = true"
    (cdkDragEnded)="
      reminderTokenDraggingEnd($event, i, reminder)
    "></app-reminder-token>
}
