@use "colors" as color;

:host {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

main {
  flex-grow: 1;
  margin: 32px auto;
  padding: 1px;
  width: 80%;
}

.days,
.players {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.divider {
  border-top: 1px solid color.$primary-1;
  margin: 16px 0;
}

.gossip-input {
  width: 100%;
  height: 80px;
  background: transparent;
  border: 1px solid color.$primary-2;
  border-radius: 8px;
  color: color.$text-color;
  padding: 16px;
  font-size: 14px;
  margin: 16px 0;
  resize: none;
  overflow: auto;
  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    color: color.$low-light;
  }
}

.saved-gossips {
  margin-top: 40px;
}

.saved-gossip {
  background: color.$primary-1;
  border-radius: 16px;
  padding: 16px;
  &:not(:last-of-type) {
    margin-bottom: 16px;
  }
  .saved-gossip-player-name {
    margin-right: 16px;
  }
  .gossip {
    margin-top: 16px;
    color: rgba(255, 255, 255, 1);
  }
}
