@use "colors" as color;

:host {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  margin: 16px auto;
  width: 80%;
}


.gossip-input {
  width: 100%;
  height: 90%;
  background: color.$primary;
  border: 2px solid color.$token-border-color;
  border-radius: 16px;
  color: color.$text-color;
  padding: 16px;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 32px;
  resize: none;
  overflow: auto;
  &:focus-visible {
    outline: none;
  }
}
