@use "colors" as color;

:host {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  .container {
    margin: 32px auto;
    width: 329px;
  }
}

.view-selection {
  display: flex;
  column-gap: 12px;
}

.divider {
  border-top: 1px solid color.$primary-2;
  margin: 12px 0;
}

.night-card {
  margin-top: 12px;
}
