@use "variables" as var;
@use "colors" as color;

:host {
  display: flex;
  flex-direction: column;
  width: calc(var(--token-size) + 24px);
  height: calc(var(--token-size) + 24px);
  text-align: center;
}

.seat {
  display: inline-block;
  margin: 0 auto 4px;
  &.empty,
  &.current-viewer {
    display: block;
    width: var(--token-size);
    height: var(--token-size);
    border-radius: 50%;
    background: transparent;
    backdrop-filter: brightness(150%);
    -webkit-backdrop-filter: brightness(150%);
    box-shadow: 0 4px 25px 0 rgba(19, 3, 43, 1);
    border: 2px solid color.$token-border-color;
    &.with-shroud {
      filter: grayscale(100%);
    }
  }
  &.current-viewer img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.name {
  font-size: 14px;
}
