@if (player().isCurrentViewer) {
  <div class="seat current-viewer" [class.with-shroud]="player().isDead">
    <img
      [ngSrc]="'./assets/icons/game/big-chair.svg'"
      width="40"
      height="40"
      alt="Big chair icon" />
  </div>
} @else if (player().characters.length) {
  <app-character-token
    class="seat"
    [size]="size()"
    [characters]="player().characters"
    [withShroud]="player().isDead!"></app-character-token>
} @else {
  <div class="seat empty" [class.with-shroud]="player().isDead"></div>
}

@if (player().name) {
  <div class="player-name">
    @if (player().isDead) {
      <app-animated-candle
        [isLit]="!player().isDeadVoteUsed"
        [size]="24"></app-animated-candle>
    }
    <span class="caption">{{ player().name }}</span>
  </div>
}
