<app-game-setup-header backLink="/players-count-selection">
  <span header>Select characters</span>
  <span subHeader>
    <span>{{ gameSetupInfoService.info.name }}</span>
    <span class="players-count"
      >{{ gameSetupInfoService.info.playersCount }} players</span
    >
  </span>
</app-game-setup-header>
<main>
  @for (
    charactersCategory of charactersCategories();
    track charactersCategory.type
  ) {
    <h3>
      {{ charactersCategory.name }}
      <span class="numbers">
        {{ charactersCategory.selectedCount }}
        @if (charactersCategory.maxCounts) {
          /
          @if (
            charactersCategory.maxCounts[0] === charactersCategory.maxCounts[1]
          ) {
            {{ charactersCategory.maxCounts[0] }}
          }
          @if (
            charactersCategory.maxCounts[0] !== charactersCategory.maxCounts[1]
          ) {
            {{ charactersCategory.maxCounts[0] }} or
            {{ charactersCategory.maxCounts[1] }}
          }
        }
      </span>
      <hr />
    </h3>
    <section class="tokens">
      @for (character of charactersCategory.characters; track character.id) {
        <app-character-token
          class="token"
          [character]="character"
          [class.selected]="character.selected"
          [class.disabled]="charactersCategory.isFilled && !character.selected"
          (click)="
            onCharacterSelection(
              !character.selected,
              character,
              charactersCategory
            )
          "></app-character-token>
      }
    </section>
  }
</main>
<app-action-bar>
  <button mat-raised-button color="primary">Proceed</button>
</app-action-bar>
